body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #062735, #100232, #0f1d23);
}

.login-container {
    background: rgb(49, 187, 228);
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(8, 1, 1, 0.958);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #070101;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

.checkbox {
    text-align: left;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e033c;
    color: rgb(2, 94, 98);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0f2027;
}
